.about-wrapper {
	padding: 40px 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(243, 243, 243);
	color: rgb(54, 54, 54);

	position: relative;

	.about-title {
		width: 100%;
		margin: 0;
		grid-row: 1;
		line-height: 19px;
		margin: 20px 0;
		grid-column: 1/-1;
		text-align: center;
		font-size: 1.6em;
		color: darkgray;
		font-weight: 600;
	}
	p {
		width: 100%;
		grid-row: 2;
		font-size: 1rem;
		grid-column: 1/-1;
		font-weight: 400;
		justify-self: start;
		text-align: start;
		margin: 5px 0;

		.marker {
			color: rgb(132, 79, 255);
			font-weight: 800;
		}
	}
}
